%div{ class: "navbar-wrapper"} 
  %div{ class: "container"}
    %div.jumbotron
      %h2
        Hello, People
      %p.lead
        Post your neighborhood issues!
        Get the issues fixed!
      %p
        =link_to "Sign Up Here", new_user_registration_path, class: "btn btn-lg btn-primary"

        