// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container .feed {
	width: 60%;
}

.panel-customization {
  width: 1100px;
}

.panel-heading a {
  font-weight: bold;
  color: #428bca;
  &:visited {
    color: #428bca;
  }
  &:hover {
    color: #2a577e;
    background-color: transparent;
    text-decoration: none;
  }
}